<!-- app/views/movies/index.html.erb -->

<h1>All Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
      <p><strong>Rating:</strong> <%= movie.rating %></p>
      <% if movie.poster_url.present? %>
        <img src="<%= movie.poster_url %>" alt="<%= movie.title %> poster" style="width: 150px; height: auto;">
      <% end %>
    </li>
    <hr>
  <% end %>
</ul>
